@charset "utf-8";
@import "../../style/variable/color";


.breadcrumb {
    margin:auto;
    padding: 0.5rem 0;
    width:100%;
    text-align: left;
    color: $default-text-color;
    a {
        text-decoration: none;
        color: $default-text-color;
        &:hover {
            color: $default-color;
        }
    }
}