@charset "utf-8";

// 主題設定
$default-color: #1976d2; //#0075ff
$active-color: #f44336;

$primary-color: #03a9f4;
$success-color: #4caf50;
$info-color: #0097a7;   //#00bcd4; 
$warning-color: #ff9800;
$danger-color: #f44336;

// 文字
$default-text-color: #ffffff;//#333333;
$dark-text-color: #272c36;
$light-text-color: #b3b3b3;
$disabled-text-color: #888888;