.login {
    display: inline-flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    color: #333;
    font-family: 'Microsoft JhengHei', monospace,sans-serif;
}